body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('https://4kwallpapers.com/images/wallpapers/anonymous-3840x2160-13656.jpg');
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin:auto;
}

aside {
    margin-top: 10vh;
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 1.4em;
    padding: 1em;
    margin-top: 8vh;
    margin-right: 8vh;;
    width: 28%;
    height: 25vh;
    float: right;
}

aside p {
    color:rgba(0, 0, 0, 1);
}

#SD {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em;
    margin: 0px;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 4em;
    margin: auto;
}

nav {
    background-color: rgba(113, 113, 113, 0.445);
    padding: 2.5vh;
}



section {

    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 1.4em;
    padding: 0.em;
    margin-left: 8vh;
    margin-top: 8vh;
    margin-left: 20vh;
    padding-right: 100px;
    width: 100vh;
    height: 100%;
    float: left;
}

article {
    height: 50vh;
    padding-left: 2em;
}

.nav-button {
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 1vh;
    background-color: transparent;
    padding: 1vh;
    margin: auto;
    width: 50%;
}

.nav-button:hover {
    transition: 250ms;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 2px 3px 6px black;
}

.signup{
    background-color: rgba(202, 202, 202, 0.3);
    border-radius: 1.4em;
    padding: 1em;
    margin: 8vh;
    margin-left: 20vh;
    margin-right: 20vh;
    padding-right: 100px;
    height: 80vh;
}


form {
    margin: auto;
    background-color: #ccc;
    padding: 2em;
    border-radius: 0.8em;
    width: 60vh;
    height: 500px;
    box-shadow: 3px 3px 10px black;
}

input {
    border-radius: 0.55em;
    width: 15vh;
    margin: 1vh;
}

textarea {
    border-radius: 0.55em;
    width: 30vh;
    height: 5vh;
    margin: 1vh;
}

.checkbox {
    text-align: left;
    float: left;

}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: rgba(113, 113, 113, 0.91);
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: white;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    border-top: rgba(0, 0, 0, 0.10) solid;
}

table {
  padding: 1px;
  border: solid black;
}

th {
  padding: 1em;
  border: solid rgba(0, 0, 0, 0.1);
}